%h3 Shorten your URL here

= form_for Url.new, method: :post do |f|
  .form-group
    = f.text_field :original, class: 'form-control'
  .form-group
    = f.submit 'Create URL', class: 'btn btn-success'

  - if @slug.present?
    %h5 Your shortened url is:
    = link_to full_url(@slug)
%br/
%hr/
- if @urls.any?
  %h4 Our 100 most visited URLs are:

  %table.table.table-bordered.table-striped
    %tr
      %th Page Title
      %th Original URL
      %th Short URL
      %th Visits
    - @urls.each do |url|
      %tr
        %th= url.title
        %th= url.original
        %th= full_url(url.slug)
        %th= url.visits

