%h1 Shorten your URL here

= form_for Url.new, method: :post do |f|
  = f.text_field :original
  %p
    = f.submit 'Create URL'

  - if @slug.present?
    %p Your shortened url is:
    %b= full_url(@slug)

%h3 Our most visited URLs are:

%table
  %tr
    %th Page
    %th Original URL
    %th Short URL
    %th Visits
  - @urls.each do |url|
    %tr
      %th= url.title
      %th= url.original
      %th= full_url(url.short)
      %th= url.visits

